#works {
   min-height: calc(100vh - 4rem);
   width: 100vw;
   max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.workTitle{
   margin: 1rem 0;
   font-size: 3rem;
}

.workDesc {
   font-weight: 300;
   font-size: 1rem;
}

.workImgs {
    display: flex;
    
}

.workImg {
   
}

.overlayText {
   
 }
/* 
.overlayText {
    position: absolute;
    display: none;
    top: 150rem;
    transform:translate(50%, -50%);
    background-color: green;
    margin-bottom: 50%;
    padding: 10px;
    text-align:center;
}

.workImg:hover + .overlayText {
    display: block;
    background-color: red;
} */